<div "ngIf="user1">
<h2 class="page-header">current device</h2>
<ul class="list-group">
<li class="list-group item">DeviceName:{{{user1.DeviceName}}}</li>
<li class="list-group item">DeviceId:{{user1.DeviceId}}</li>
<li class="list-group item">Dop:{{user1.Dop}}</li>
</ul>
</div>
    