<font size="6" color="Purple">Account Login</font>
<form method="post" action="/users/login">
<div class="form-group"></div>
    <font size="5" color="Blue">Username</font>
    <input type="text" class="form-control" name="username" placeholder="username">
    <br><br>
    <div class="form-group">
        <font size="5" color="Blue">Password</font>
        <input type="password" class="form-control" name="password"
        placeholder="password">
    </div>
    <button type="submit" class="btn btn-default"><font size="5">SUBMIT</font></button>
</form>